h1
    {
        font-family: "Lucida Console", "Courier New", monospace;
        text-align: center;
        color: black;
    }
p 
    {
        font-family: verdana;
        font-size: 15px;
        text-align: justify;
        text-indent: 30px;
        color: red;
    }