* { 
    padding: 0; 
    margin: 0; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#principal { 
    margin: 0 auto;
    width: 922px;
}

#cabecalho {
    width: 902px;
    padding: 10px;
    height: 100px;
    margin: 10px 0px 5px 0px;
    background: rgb(196, 194, 194);
}

#imagem {
    padding: 10px;
    margin: 0px 0px 5px 0px;
    text-align: center;
}

#conteudo {
    margin-bottom: 5px;
    overflow: auto; 
    width: 100%
}

#esquerdo { 
    display: inline;
    margin:10px;
    padding:0;
    width: 250px;
    float: left;
}

#direito { 
    float: right;
    margin:10px;
    padding:0;
    width: 628px;
    display: inline;
    position: relative;
}

#rodape { 
    width: 902px;
    clear: both;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.clear { 
    clear: both; 
    background: none; 
}